---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <span class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
        </span>
        <h1 class="page-header" style="color:#ffe6c0">{{ page.title | escape }}</h1>
        <div class="post__info">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <aside class="col col-md-4">
      {% assign no-image = nil %}
      {% if page.image %}
      <div class="panel">
        <!-- <div class="panel-heading">title</div> -->
        <div class="panel-body">
          <div class="post__head">
            <a href=""><img src="{{page.image}}" style="width: 100%;" /></a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">tags</div>
        <div class="panel-body">
          {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag }}" class="post__tags-tag"><span class="label label-primary">{{ tag }}</span></a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% else %}
      {% assign no-image = 'post-no-image' %}
      {% endif %}
    </aside>
    <!-- begin post -->
    <article class="post {{ no-image }} col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">操作</div>
        <div class="panel-body">
          <p>{{ post.description }}</p>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="clipboard-btn" data-content="复制成功"  data-placement="top" data-toggle="popover" class="btn btn-default" data-clipboard-target="#brueprints" data-container="body">复制</button>
            <button type="button" class="btn btn-default">显示/隐藏</button>
            <button type="button" class="btn btn-default">Json</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">代码</div>
        <div class="panel-body">
          <div class="post__content" id="brueprints">
            {{ content }}
          </div>
        </div>
      </div>
    </article>
    <!-- end post -->
  </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.8/clipboard.js"></script>
<script> 
$(function() {
  var clipboard = new ClipboardJS('#clipboard-btn');
  $('[data-toggle="popover"]').popover();
  clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
    $('#clipboard-btn').popover({delay: { "show": 500, "hide": 100 }});
    // alert("复制成功");
    e.clearSelection();
  });

  clipboard.on('error', function (e) {
  });
});
  
</script>
<div class="container">
  {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
</div>